html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(14%) saturate(399%) hue-rotate(320deg)
        brightness(111%) contrast(100%);
    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    --top-act-separate: #ededf6;
    --top-act-user-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
}
